:root {
    --primary-logo-color: rgb(101, 98, 147);
    --secondary-logo-color: rgb(255, 255, 255);

    --primary-bg-color: rgb(255, 255, 255);
    --secondary-bg-color: rgb(101, 98, 147);
    --acent-bg-color: rgb(245, 245, 245);

    --primary-text-color: rgba(21, 21, 21, 0.6);
    --secondary-text-color: rgb(21, 21, 21);
    --tertiary-text-color: rgba(255, 255, 255, 0.7);
    --acent-text-color: rgb(169, 169, 170);

    --navigate-text-color: rgb(24, 24, 24);
    --navigate-acent-color: rgb(101, 98, 147);

    --primary-titel-color: rgb(0, 0, 0);
    --acent-titel-color: rgb(101, 98, 147);
    --secondary-titel-color: rgb(21, 21, 21);

    --primary-btn-color: rgb(21, 21, 21);
    --secondary-btn-color: rgb(255, 255, 255);
    --acent-btn-color: rgb(101, 98, 147);
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    text-align: justify;

    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
}


.container {
    width: 1232px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Logo */




.logo {
    font-family: 'Prosto+One', serif;
    font-size: 22px;
    text-transform: uppercase;

    color: var(--primary-logo-color);
    text-decoration: none;
}

.logo:hover,
.logo:focus {
    color: var(--navigate-text-color);
}


/* navigate */

.navigate-list {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;

    list-style: none;
}

.navigate-item {}

.navigate-link {
    font-size: 14px;
    font-weight: 500;

    color: var(--navigate-text-color);
    text-decoration: none;
}

.navigate-link:hover,
.navigate-link:focus {
    color: var(--navigate-acent-color);
}



/*autoraiz  link */

.autoraiz-list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

    list-style: none;

}

.autoraiz-link {
    display: inline-block;

    padding: 5px 23px;
    min-width: 104px;

    font-size: 14px;
    font-weight: 500;

    text-decoration: none;
    border-radius: 5px;
}

.autoraiz-link.rgistr {
    color: var(--primary-btn-color);
    background-color: transparent;
}

.autoraiz-link.rgistr:hover,
.autoraiz-link.rgistr:focus {
    color: var(--secondary-btn-color);
    background-color: var(--primary-btn-color);
}


.autoraiz-link.sign-in {
    color: var(--secondary-btn-color);
    background-color: var(--acent-btn-color);
}

.autoraiz-link.sign-in:hover,
.autoraiz-link.sign-in:focus {
    background-color: var(--primary-btn-color);
}



/* HERO */

.hero-titel {
    margin-top: 0;
    margin-bottom: 48px;


    font-family: 'Roboto', sans-serif;
    font-size: 66px;
    font-weight: 400;
    line-height: 1.16;

    color: var(--secondary-titel-color);
}

.hero-titel .hero-acent {
    color: var(--acent-titel-color);
    text-transform: uppercase;
}

.hero-text {
    margin: 0;

    font-weight: 500;

    color: var(--secondary-text-color);
}


/* Requirements */

.requirements-titel {
    display: none;
}

.requirements-bord {
    margin: 0 auto;

    width: 1110px;
    height: 266px;
    background-color: black;
}


.requirements-btn {
    padding: 27px 95px 26px 30px;
    min-width: 233px;
    min-height: 80px;

    font-size: 18px;
    font-weight: 500;

    color: var(--secondary-btn-color);
    background-color: var(--acent-btn-color);
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

.requirements-btn:hover,
.requirements-btn:focus {
    color: var(--primary-btn-color);
    background-color: var(--secondary-btn-color);
}





/* PURPOSES */

.purposes-bg {
    width: 400px;
    height: 523px;

    background-color: rgb(229, 244, 246);
    border-radius: 0px 50px 50px 0px;
}

.purposes-titel {
    margin-top: 0;
    margin-bottom: 65px;

    font-size: 36px;
    text-align: center;

    color: var(--primary-titel-color);
}

.purposes-list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

    list-style: none;
}

.purposes-sub-titel {
    margin-top: 0;
    margin-bottom: 14px;

    font-size: 24px;
    font-weight: 600;

    color: var(--primary-titel-color);
}




/* PERFOMANCE */

.perfomance-titel {
    margin-top: 0;
    margin-bottom: 68px;

    font-size: 36px;
    text-align: center;

    color: var(--primary-titel-color);
}

.perfomance-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
}

.perfomance-item {
    padding: 39px 52px 51px 52px;
    width: 370px;

    text-align: center;

    border-radius: 12px;
    box-shadow: 0px 1px 3px 0px rgba(19, 10, 46, 0.13), 0px 3px 14px 0px rgba(19, 10, 46, 0.03), 0px 8px 32px 0px rgba(19, 10, 46, 0.07), 0px 30px 84px 0px rgba(19, 10, 46, 0.08);
}

.perfomance-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;

    border: 0.1px dashed var(--primary-text-color)
}

.perfomance-sub-titel {
    margin-top: 0;
    margin-bottom: 11px;

    font-size: 18px;
    font-weight: 500;

    color: var(--primary-titel-color);
}

.perfomance-text {
    margin: 0;
}



/* CHARTERS */

.charters-titel {
    margin-top: 0;
    margin-bottom: 69px;

    font-size: 36px;
    text-align: center;

    color: var(--primary-titel-color);
}

.charters-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
}

.charters-item {
    padding: 10px 12px 14px 12px;

    width: 255px;

    border-radius: 12px;
    box-shadow: 0px 1px 3px 0px rgba(19, 10, 46, 0.13), 0px 3px 14px 0px rgba(19, 10, 46, 0.03), 0px 8px 32px 0px rgba(19, 10, 46, 0.07), 0px 30px 84px 0px rgba(19, 10, 46, 0.08);
}

.charters-img {
    display: block;

    margin-bottom: 14px;
}

.charters-name {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 16px;
    font-weight: 500;
    text-align: center;

    color: var(--primary-titel-color);
}